@import url('https://fonts.googleapis.com/css2?family=Karma&display=swap');

*{
    padding: 0%;
    margin:0%;
    box-sizing: border-box;
}

body{
    font-family: 'Karma', sans-serif;
    position: relative;
}

.row-4{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1em;
}

.row-3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1em;
}

.underlined{
    text-decoration: underline;
}

.pad-80{
    padding-bottom: 80px;
}

.mar-50{
    margin: 50px 0;
}

.mar-12{
    margin:  1.2rem 0;
}

.italic{
    font-style: italic;    
}

hr{
    opacity: .2;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-center{
    text-align: center;
}
.mh-80{
    min-height: 80px;
}

.content-width{
    max-width: 1100px;
    margin:  0 auto;
}

header{
    position:fixed;
    min-width: 100%;
    background-color: #ffffff;
    z-index: 10;
}
    header > div{
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        min-width: 100vh;
        min-height: 60px;
    }

    .header-item{
        display:flex;
        align-items: center;
        justify-content: center;
        padding-top: .4em;
    }

    .bar{
        padding-bottom: .4em;
        min-width: 4em;
    }
    .bar:hover{
        background-color: lightgrey;
        cursor: pointer;
    }

article{
        padding-top: 6em;
}
    .foods{
        margin: 0 40px;
    }
  
    .food h2, .about-me h2, .footer-item h3{
        font-weight: lighter;
        margin-bottom: 20px;
    }
   
    .food > img{
        width: 100%; 
        transition: .4s;
    }
    .food > img:hover{
        transform: scale(1.1);
        filter: brightness(.6);
    }
    
    .food-nav{
        width:max-content;
    }

    .food-nav .nav-item{
        align-items: center;
        display: flex;
        justify-content: space-between;
    }

    .nav-item li{
        list-style-type: none;
        width:  40px;
        height: 40px;
    }

    .nav-item li:hover,.nav-item li:nth-child(2){
        background-color: black;
        color: white;
        cursor: pointer;
    }

    .nav-item li:nth-child(2):hover{
        background-color: lightslategray;
    }

.text-part > *{
    margin: 1rem 0;
}

    .text-part h3{
        font-size: 1.2rem;
    }

.footer-item-content{
    display: flex;
    padding: 1em 1em;
}

    .footer-item-content img{
        height: 50px;
        width: 50px;
    }

    .footer-item-content:hover{
     
        background-color: grey;
    }

    .blog-post{
        padding: 0 20px;
    }
    
.tag{
    font-size: .8rem;
    color: white;
    background-color: gray;
    padding: .1rem;
    line-height: 250%;

}

    .highlighted-tag{
        background-color: black;
        font-size: 1rem;
    }



.sidenav{
    position: fixed;
    width: 400px;
    height: 100vh;

    background-color:white;
    box-shadow: 2px 0px 10px rgb(85, 85, 85);
    z-index: 40;

    visibility: visible;
    left: -40rem;
    opacity: 0;
    transition: opacity 1s,left .5s ;

}

.sidenav .sides{
    display: flex;
    flex-wrap: wrap;
}
.sidenav .sides li{
    width: 100%;
    padding: 20px;
    list-style-type: none;
    font-size: 1.5rem;
}

.sidenav .sides li:hover{
    background-color: grey;
    cursor: pointer;
}
.sidenav-show{
    left: 0;
    visibility: visible;
    opacity: 1;
    transition: opacity 1s,left .5s ;
}

@keyframes hideNav{
    0%{
        display: block;
    }
    1%{
        left: 0;
        opacity: 1;
    }
    99%{
        left: -20px;
        opacity: 0;
    }
    100%{
        display: none;
    }
}

@media screen and (max-width:1400px) {
    .content-width{
        max-width: initial;
    }   
    .head{
        min-width: 100%;
    }
  
}
@media screen and (max-width:800px) {
    .row-4{
        grid-template-columns: 1fr;
    }
    .row-3{
        grid-template-columns: 1fr;
    }
    .food h2{
        margin: 0;
    }
    
    .food > img:hover{
        transform: scale(1.03);
        filter: brightness(.6);
    }
}