header,article > *,footer{
    width: 100%;
    border: 2px solid blue;
    
}
article:nth-child(2){
    flex-basis: 200%;
}
header{
    height: 150px;
}
footer{
    background-color: red;
    border: 2px solid green;
    position: absolute;
    width: 100%;
    bottom: 0%;
    height: 10rem;
}
article{
    padding-bottom: 10rem;
    background-color: green;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
html,body{
    position: relative;
    min-height: 100vh;
}